<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.takezeroapps.countit">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/DefaultTheme.NoActionBar"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takezeroapps.countit.MainActivity" />
        </activity>
        <activity
            android:name=".CounterListActivity"
            android:label="@string/title_activity_counterlist"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|screenSize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takezeroapps.countit.MainActivity" />
        </activity>
        <activity
            android:name=".MultiCounterActivity"
            android:label="@string/multicounter_activity_title"
            android:parentActivityName=".CounterListActivity"
            android:configChanges="orientation|screenSize">



            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.takezeroapps.countit.MainActivity" />
        </activity>
    </application>

</manifest>