<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deicoapps.countit">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name="com.deicoapps.countit.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/DefaultTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.deicoapps.countit.CounterListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_counterlist"
            android:theme="@style/DefaultTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.deicoapps.countit.MultiCounterActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/multicounter_activity_title"
            android:parentActivityName="com.deicoapps.countit.CounterListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deicoapps.countit.MainActivity" />
        </activity>

        <activity
            android:name="com.deicoapps.countit.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:theme="@style/DefaultTheme.NoActionBar">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.deicoapps.countit.MainActivity" />
        </activity>

    </application>

</manifest>